#include <baseresource.h>

/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//

IDR_FONT        RCDATA          "fonts/SourceSansPro-Regular.ttf"
IDR_FONT_BLACK  RCDATA          "fonts/SourceSansPro-Black.ttf"
IDR_FONT_ITALIC RCDATA          "fonts/SourceSansPro-Italic.ttf"
IDR_FONT_DRAW   RCDATA          "fonts/CinzelDecorative-Bold.ttf"
IDR_FONT_ICON   RCDATA          "fonts/fa-solid-900.ttf"
IDR_FONT_MONO   RCDATA          "fonts/consolas.ttf"
